*{
	font-family: "Montserrat";
 	color: white;
}

/*Navbar*/
 .container{
 	background-color: #070F5D;
 	position: fixed;
 	width: 100%;
 	height: auto;
 	top: 0;
 	left: 0;
 	display: inline-block; 
 	z-index: 1;	
 	padding: 5px 10px; 	
 }

 .container .logo{
 	display: inline-block;
 }

.container nav{
 	display: inline-block; 	
 }


 .logo h1{
 	margin-left: 55px;
 	margin-right: 500px;	
 }
 
 .menu ul li{
 	display: inline-block;
 	 }

 .menu ul li a{
 	margin-right: 20px;
 	text-decoration: none; 
 	width: 100px;
 	height: 80px; 
 }

 .menu a:hover {
 	background-color: #2AB582;
	padding: 10px;
}

/*Header*/

.cont{
	background-color: #2AB582;
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
  	left: 0;
  	right: 0;
	width: 100vw;
	height: auto;
	position: relative;
	margin-top: 60px;
	flex-direction: column;
}

.cont img{
	margin-top: 100px;
}

.cont h1{	
	margin-top: 60px;
	font-size: 55px;
}

.cont i{
	
	font-size: 40px;
	width: 70px;
	display: inline-block;
}

.cont p{
	font-size: 20px;
}

.linea-a{
	border-bottom: 7px solid white;
	width: 100px;
	display: inline-block;
}

.linea-b{
	border-bottom: 7px solid white;
	width: 100px;
	display: inline-block;
}

/*Imagenes 1*/

.cont2{
	background-color: white;
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
  	left: 0;
  	right: 0;
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 50px;
	padding: 10px 20px;
	display: inline-block;
	flex-direction: column;
}

.cont2 h1{
	text-align: center;
	color: black;
	margin-top: 20px;
	font-size: 50px;
}

.cont2 .linea-a{
	border-bottom: 7px solid black;
	width: 100px;
	display: inline-block;
}

.cont2 .linea-b{
	border-bottom: 7px solid black;
	width: 100px;
	display: inline-block;
}

.cont2 i{
	font-size: 30px;
	width: 70px;
	display: inline-block;
	color: black;
}


.cont2 h1{
	text-align: center;
	color: black;
	margin-top: 60px;
	font-size: 50px;
}

.imagenes{
	flex-flow: wrap column;
	margin-top: 30px;	
}

.imagenes img{
	margin-right: 10px;
	margin-top: 10px;
}
